
/**
*
* Global CSS
*
**/

.sticky.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1200;
}

.sticky{
display: flex;
justify-content:  space-between}

/**
*
* Work Planner
*
**/



/* ICONS */

.wp_scheduled{

    color: #F0AD4E;

}



.bootboxLarge > .modal-dialog {
    width:80%  !important;
    float:right;
}

.scheduler tr:hover{
    
    cursor:pointer;
}

#resources .scheduledTask:hover{
    background-color:#ccc;
    cursor:pointer;
}

/* Ajax Spinner Large */
#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}    

/* Empty location dataset */

#locationContent{
 height:400px;
 color:#666666;
}

/* Location DIV */

#tree2{
 height:400px;
}

table.dataTable tbody tr.selected {
  background-color: #666;
}



/* Add a loading spinner when nodes are being loaded in jqtree */

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
    content: url('/images/loading.gif');
    margin-left: 8px;
}


/* Twitter typehead related CSS */

.twitter-typeahead{ float:left; width:100%}

.tt-dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
font-size: 14px;
background-color: #ffffff;
border: 1px solid #cccccc;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;
}
.tt-suggestion > p {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #333333;
white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
color: #ffffff;
text-decoration: none;
outline: 0;
background-color: #428bca;
}


/*
* Resource planner by fullcalendar
*/


#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    }
    
  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    }
    
  .external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    }
    
  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
    }
    
  #external-events p input {
    margin: 0;
    vertical-align: middle;
    }

  #calendar {
    float: right;
    width: 900px;
    }



/*file browse */
    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }



/* Notification BAR  SOURCE: http://notify.dconnell.co.uk/ */;
#notification {
    width:  100%;
    position:  fixed;
    z-index:  9999999999;
    left:  0;
    top:  -50px;
    padding-top:  10px;
    padding-bottom:  10px;
    text-align:  center;
    font-size:  1.4em;
    font-weight:  bold;
    -moz-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
    -webkit-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
    -o-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
    box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
    border-bottom-width:  3px;
    border-bottom-style:  solid;
}
.ie6 #notification {
    position: absolute;
}
#notification .close {
    color:  #FFF;
    width:  20px;
    height:  20px;
    position:  absolute;
    right:  7px;
    top:  7px;
    display:  block;
    text-decoration:  none;
    border-radius:  5px;
    line-height:  18px;
}
.success {
    background:  #D4FFCD;
    border-bottom-color:  #9ADF8F;
    color:  #258815;
}
.success .close {
    background:  #258815;
}
.information {
    background:  #DBECFF;
    border-bottom-color:  #9FC7F5;
    color:  #2850C1;
}
.information .close {
    background:  #2850C1;
}
.warning {
    background:  #FEFCCB;
    border-bottom-color:  #E5DB55;
    color:  #878314;
}
.warning .close {
    background:  #878314;
}
.error {
    background:  #FFD2D3;
    border-bottom-color:  #DF8F90;
    color:  #871414;
}
.error .close {
    background:  #871414;
}
#notification .close:hover {
    background:  #000;
}

/* LOGIN PAGE */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
